<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
        <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface:400"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nordio in Love</title>
  </head>
  <body style="margin: 0;">
    <img src="images/nordio.jpg" width="50" height="50" style="margin-left: 20px; margin-top: 15px; margin-bottom: 15px;">
    <div style='background-size: cover; background-image: url("./images/heart.jpg"); width: 100%; height: 600px; background-position: 50% 50%;'>
        <div style="margin: auto; text-align: center; width: 90%; padding-top: 60px; padding-bottom: 10px; position: relative;">
            <h1 style="font-family: Abril Fatface;   position: absolute; top: 60px; left: 0px; text-align: center; width: 100%">Grazie di aver partecipato!</h1>
            <h1 style="color: white; font-family: Abril Fatface;  position: absolute; top: 57px; left: 3px; text-align: center; width: 100%">Grazie di aver partecipato!</h1>
        </div>
        <h3 style="color: #fd588a; font-family: Abril Fatface; margin: auto; text-align: center; width: 90%; padding-top: 210px; padding-bottom: 10px;">descrizione descizione descrizione descrizione descrizione descrizione descrizione descizione descrizione descrizione descrizione<br>descrizione</h3>
    </div>
  </body>

  <section class="u-backlink u-clearfix" style="color: #ffffff; background-color: #333333;">
    <p class="u-text">
      <span>La 5D non si ritiene responsabile di nessuna situazione scomoda, rottura o crimine di varia natura che questo test potrebbe causare.</span>
    </p>
  </section>
</body>
</html>