<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

  DATI
<form action="/student" method="POST">
  <label for="name">Nome:</label><br>
  <input type="text" id="name" name="name"><br>

  <label for="school_class">Classe:</label><br>
  <input type="text" id="school_class" name="school_class"><br><br>

  <label for="gender">Genere:</label><br>
  <input type="text" id="gender" name="gender"><br><br>

  <label for="gender_preference">Preferisci:</label><br>
  <input type="text" id="gender_preference" name="gender_preference"><br><br>

  <input type="submit" value="Submit">
</form>
</body>
</html>
