<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<head>
  <script>
    document.querySelector('.u-form-submit').addEventListener('click', () => {
      event.preventDefault();
      event.stopPropagation();
      document.querySelector('.u-inner-form').submit();
    });
  </script>
</head>
<body>

  <div class="container">
    <div th:each="student : ${students}">
      <span th:text="${student.id}"/>
      <span th:text="${student.name}"/>
      <span th:text="${student.schoolClass}"/>
      <span th:text="${student.gender}"/>
      <span th:text="${student.genderPreference}"/>
      <span th:text="${student.preferences}"/>
    </div>
  </div>
  
</body>
</html>
