<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<title>Nordio in love</title>
<body>

  Found <span th:text="${count}"/> students

  <table class="container">
    <tr th:each="student : ${students}">
      <!--<td th:text="${student.id}"/>-->
      <td th:text="${student.schoolClass}"/>
      <td>[<span th:text="${student.name}"/></span>]</td>
      <td th:text="${student.address}"/>
      <!--<td th:text="${student.gender}"/>
      <td th:text="${student.genderPreference}"/>-->
      <td><span th:text="${student.answerCount}"/><span> answers</td>
      <td th:text="${student.preferences}"/>
      <td><a href="/admin/fake/" th:if="${student.fake == true}">SET NOT FAKE</a>
      <a th:if="${student.fake == false}">SET FAKE</a></td>
    </tr>
  </table>

  <button id="build-preferences">BUILD PREFERENCES</button>  
<script>
    document.getElementById('build-preferences').addEventListener('click', () => {
      event.preventDefault();
      event.stopPropagation();
        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/admin/build-preferences', true);

        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onreadystatechange = function() { // Call a function when the state changes.
          if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
            window.location.reload();
          }
        }
        xhr.send("");
    });
</script>
</body>
</html>
